body {
    background-color: #d0d0d0;
}
#rock {
    height: 45vh;
    width: 20vw;
    background-image: url('https://static01.nyt.com/images/2011/08/21/magazine/21mag-abstractimages-slide-XOE4/21mag-abstractimages-slide-XOE4-jumbo.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    color: transparent;
    text-align: center;
}
#paper {
    height: 45vh;
    width: 20vw;
    background-image: url('https://static01.nyt.com/images/2011/08/21/magazine/21mag-abstractimages-slide-2T4N/21mag-abstractimages-slide-2T4N-jumbo.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    color: transparent;
    text-align: center;
}
#scissors {
    height: 45vh;
    width: 20vw;
    background-image: url('https://static01.nyt.com/images/2011/08/21/magazine/21mag-abstractimages-slide-IRQ1/21mag-abstractimages-slide-IRQ1-jumbo.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    color: transparent;
    text-align: center;
}
.computerChoice,.output,.score,h1,h4 {
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
}
.col-md-4 {
    text-align: center;
}
.computerChoice {
    margin-top: 10px;
}
.title {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}
